html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

/*
@include font-face-shopify-url ('Futura Medium', 'FuturaStd-Medium-OTF', normal, normal, null, null, null, null);
@include font-face-shopify-url ('DINPro-Bold', 'DINPro-Bold', normal, normal, 'iowanoldst_btroman', null, null, null);
@include font-face-shopify-url ('DINPro-BoldAlternate', 'DIN-BOLA-webfont', normal, normal, 'iowanoldst_btroman', null, null, null);
@include font-face-shopify-url ('DIN-LightAlternate', 'DIN-LIGH', normal, normal, 'iowanoldst_btroman', null, null, null);
@include font-face-shopify-url ('DIN-MediumAlternate', 'DIN-MEDA-webfont', normal, normal, 'iowanoldst_btroman', null, null, null);
@include font-face-shopify-url ('AvenirNext-Bold', 'AvenirNext-Bold', normal, normal, 'iowanoldst_btroman', null, null, null);
@include font-face-shopify-url ('AvenirNext-BoldItalic', 'AvenirNext-BoldItalic', normal, normal, 'iowanoldst_btroman', null, null, null);
@include font-face-shopify-url ('AvenirNext-DemiBold', 'AvenirNext-DemiBold', normal, normal, 'iowanoldst_btroman', null, null, null);
@include font-face-shopify-url ('AvenirNext-DemiBoldItalic', 'AvenirNext-DemiBoldItalic', normal, normal, 'iowanoldst_btroman', null, null, null);
@include font-face-shopify-url ('AvenirNext-Heavy', 'AvenirNext-Heavy', normal, normal, 'iowanoldst_btroman', null, null, null);
@include font-face-shopify-url ('AvenirNext-HeavyItalic', 'AvenirNext-HeavyItalic', normal, normal, 'iowanoldst_btroman', null, null, null);
@include font-face-shopify-url ('AvenirNext-Italic', 'AvenirNext-Italic', normal, normal, 'iowanoldst_btroman', null, null, null);
@include font-face-shopify-url ('AvenirNext-Medium', 'AvenirNext-Medium', normal, normal, 'iowanoldst_btroman', null, null, null);
@include font-face-shopify-url ('AvenirNext-MediumItalic', 'AvenirNext-MediumItalic', normal, normal, 'iowanoldst_btroman', null, null, null);
@include font-face-shopify-url ('AvenirNext-Regular', 'AvenirNext-Regular', normal, normal, 'iowanoldst_btroman', null, null, null);
@include font-face-shopify-url ('AvenirNext-UltraLight', 'AvenirNext-UltraLight', normal, normal, 'iowanoldst_btroman', null, null, null);
@include font-face-shopify-url ('AvenirNext-UltraLightItalic', 'AvenirNext-UltraLightItalic', normal, normal, 'iowanoldst_btroman', null, null, null);
@include font-face-shopify-url ('HelveticaNeueLight', 'helvetica-neue--light', normal, normal, 'iowanoldst_btroman', null, null, null);
@include font-face-shopify-url ('futura-mediumregular', 'futura_medium-webfont', normal, normal, 'futura-mediumregular', "kern", null, null);
@include font-face-shopify-url ('FuturaCondensedMediumMedium', 'futuracondensedmedium', normal, normal, 'FuturaCondensedMediumMedium', "kern", null, null);
@include font-face-shopify-url ('FuturaStd-CondensedBold', 'FuturaStd-CondensedBold_gdi', 700, normal, 'FuturaStd-CondensedBold', null, condensed, U+0020-25CA);
@include font-face-shopify-url ('FuturaStd-CondensedLight', 'FuturaStd-CondensedLight_gdi', 300, normal, 'FuturaStd-CondensedLight', null, condensed, U+0020-25CA);
@include font-face-shopify-url ('FuturaStd-ExtraBold', 'FuturaStd-ExtraBold_gdi', 750, normal, 'FuturaStd-ExtraBold', null, normal, U+0020-25CA);
@include font-face-shopify-url ('FuturaStd-Light', 'FuturaStd-Light_gdi', 750, normal, 'FuturaStd-Light', null, normal, U+0020-25CA);
@include font-face-shopify-url ('FuturaStd-Medium', 'FuturaStd-Medium_gdi', 500, normal, 'FuturaStd-Medium', null, normal, U+0020-25CA);
@include font-face-shopify-url ('FuturaStd-Bold', 'FuturaStd-Bold_gdi', 700, normal, 'FuturaStd-Bold', null, normal, U+0020-25CA);
@include font-face-shopify-url ('FuturaStd-Heavy', 'FuturaStd-Heavy_gdi', 650, normal, 'FuturaStd-Heavy', null, normal, U+0020-25CA);
*/
@font-face {
  font-family: "Futura Medium";
  src: url("html_templates/fonts/FuturaStd-Medium-OTF.eot");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: "DINPro-Bold";
  src: url("html_templates/fonts/DINPro-Bold.eot");
  src: url("html_templates/fonts/DINPro-Bold.eot?#iefix") format("embedded-opentype"), url("html_templates/fonts/DINPro-Bold.woff") format("woff"), url("html_templates/fonts/DINPro-Bold.ttf") format("truetype"), url("html_templates/fonts/DINPro-Bold.svg#iowanoldst_btroman") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: "DINPro-BoldAlternate";
  src: url("html_templates/fonts/DIN-BOLA-webfont.eot");
  src: url("html_templates/fonts/DIN-BOLA-webfont.eot?#iefix") format("embedded-opentype"), url("html_templates/fonts/DIN-BOLA-webfont.woff") format("woff"), url("html_templates/fonts/DIN-BOLA-webfont.ttf") format("truetype"), url("html_templates/fonts/DIN-BOLA-webfont.svg#iowanoldst_btroman") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: "DIN-LightAlternate";
  src: url("html_templates/fonts/DIN-LIGH.eot");
  src: url("html_templates/fonts/DIN-LIGH.eot?#iefix") format("embedded-opentype"), url("html_templates/fonts/DIN-LIGH.woff") format("woff"), url("html_templates/fonts/DIN-LIGH.ttf") format("truetype"), url("html_templates/fonts/DIN-LIGH.svg#iowanoldst_btroman") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: "DIN-MediumAlternate";
  src: url("html_templates/fonts/DIN-MEDA-webfont.eot");
  src: url("html_templates/fonts/DIN-MEDA-webfont.eot?#iefix") format("embedded-opentype"), url("html_templates/fonts/DIN-MEDA-webfont.woff") format("woff"), url("html_templates/fonts/DIN-MEDA-webfont.ttf") format("truetype"), url("html_templates/fonts/DIN-MEDA-webfont.svg#iowanoldst_btroman") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: "AvenirNext-Bold";
  src: url("html_templates/fonts/AvenirNext-Bold.eot");
  src: url("html_templates/fonts/AvenirNext-Bold.eot?#iefix") format("embedded-opentype"), url("html_templates/fonts/AvenirNext-Bold.woff") format("woff"), url("html_templates/fonts/AvenirNext-Bold.ttf") format("truetype"), url("html_templates/fonts/AvenirNext-Bold.svg#iowanoldst_btroman") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: "AvenirNext-BoldItalic";
  src: url("html_templates/fonts/AvenirNext-BoldItalic.eot");
  src: url("html_templates/fonts/AvenirNext-BoldItalic.eot?#iefix") format("embedded-opentype"), url("html_templates/fonts/AvenirNext-BoldItalic.woff") format("woff"), url("html_templates/fonts/AvenirNext-BoldItalic.ttf") format("truetype"), url("html_templates/fonts/AvenirNext-BoldItalic.svg#iowanoldst_btroman") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: "AvenirNext-DemiBold";
  src: url("html_templates/fonts/AvenirNext-DemiBold.eot");
  src: url("html_templates/fonts/AvenirNext-DemiBold.eot?#iefix") format("embedded-opentype"), url("html_templates/fonts/AvenirNext-DemiBold.woff") format("woff"), url("html_templates/fonts/AvenirNext-DemiBold.ttf") format("truetype"), url("html_templates/fonts/AvenirNext-DemiBold.svg#iowanoldst_btroman") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: "AvenirNext-DemiBoldItalic";
  src: url("html_templates/fonts/AvenirNext-DemiBoldItalic.eot");
  src: url("html_templates/fonts/AvenirNext-DemiBoldItalic.eot?#iefix") format("embedded-opentype"), url("html_templates/fonts/AvenirNext-DemiBoldItalic.woff") format("woff"), url("html_templates/fonts/AvenirNext-DemiBoldItalic.ttf") format("truetype"), url("html_templates/fonts/AvenirNext-DemiBoldItalic.svg#iowanoldst_btroman") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: "AvenirNext-Heavy";
  src: url("html_templates/fonts/AvenirNext-Heavy.eot");
  src: url("html_templates/fonts/AvenirNext-Heavy.eot?#iefix") format("embedded-opentype"), url("html_templates/fonts/AvenirNext-Heavy.woff") format("woff"), url("html_templates/fonts/AvenirNext-Heavy.ttf") format("truetype"), url("html_templates/fonts/AvenirNext-Heavy.svg#iowanoldst_btroman") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: "AvenirNext-HeavyItalic";
  src: url("html_templates/fonts/AvenirNext-HeavyItalic.eot");
  src: url("html_templates/fonts/AvenirNext-HeavyItalic.eot?#iefix") format("embedded-opentype"), url("html_templates/fonts/AvenirNext-HeavyItalic.woff") format("woff"), url("html_templates/fonts/AvenirNext-HeavyItalic.ttf") format("truetype"), url("html_templates/fonts/AvenirNext-HeavyItalic.svg#iowanoldst_btroman") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: "AvenirNext-Italic";
  src: url("html_templates/fonts/AvenirNext-Italic.eot");
  src: url("html_templates/fonts/AvenirNext-Italic.eot?#iefix") format("embedded-opentype"), url("html_templates/fonts/AvenirNext-Italic.woff") format("woff"), url("html_templates/fonts/AvenirNext-Italic.ttf") format("truetype"), url("html_templates/fonts/AvenirNext-Italic.svg#iowanoldst_btroman") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: "AvenirNext-Medium";
  src: url("html_templates/fonts/AvenirNext-Medium.eot");
  src: url("html_templates/fonts/AvenirNext-Medium.eot?#iefix") format("embedded-opentype"), url("html_templates/fonts/AvenirNext-Medium.woff") format("woff"), url("html_templates/fonts/AvenirNext-Medium.ttf") format("truetype"), url("html_templates/fonts/AvenirNext-Medium.svg#iowanoldst_btroman") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: "AvenirNext-MediumItalic";
  src: url("html_templates/fonts/AvenirNext-MediumItalic.eot");
  src: url("html_templates/fonts/AvenirNext-MediumItalic.eot?#iefix") format("embedded-opentype"), url("html_templates/fonts/AvenirNext-MediumItalic.woff") format("woff"), url("html_templates/fonts/AvenirNext-MediumItalic.ttf") format("truetype"), url("html_templates/fonts/AvenirNext-MediumItalic.svg#iowanoldst_btroman") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: "AvenirNext-Regular";
  src: url("html_templates/fonts/AvenirNext-Regular.eot");
  src: url("html_templates/fonts/AvenirNext-Regular.eot?#iefix") format("embedded-opentype"), url("html_templates/fonts/AvenirNext-Regular.woff") format("woff"), url("html_templates/fonts/AvenirNext-Regular.ttf") format("truetype"), url("html_templates/fonts/AvenirNext-Regular.svg#iowanoldst_btroman") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: "AvenirNext-UltraLight";
  src: url("html_templates/fonts/AvenirNext-UltraLight.eot");
  src: url("html_templates/fonts/AvenirNext-UltraLight.eot?#iefix") format("embedded-opentype"), url("html_templates/fonts/AvenirNext-UltraLight.woff") format("woff"), url("html_templates/fonts/AvenirNext-UltraLight.ttf") format("truetype"), url("html_templates/fonts/AvenirNext-UltraLight.svg#iowanoldst_btroman") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: "AvenirNext-UltraLightItalic";
  src: url("html_templates/fonts/AvenirNext-UltraLightItalic.eot");
  src: url("html_templates/fonts/AvenirNext-UltraLightItalic.eot?#iefix") format("embedded-opentype"), url("html_templates/fonts/AvenirNext-UltraLightItalic.woff") format("woff"), url("html_templates/fonts/AvenirNext-UltraLightItalic.ttf") format("truetype"), url("html_templates/fonts/AvenirNext-UltraLightItalic.svg#iowanoldst_btroman") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: "HelveticaNeueLight";
  src: url("html_templates/fonts/helvetica-neue--light.eot");
  src: url("html_templates/fonts/helvetica-neue--light.eot?#iefix") format("embedded-opentype"), url("html_templates/fonts/helvetica-neue--light.woff") format("woff"), url("html_templates/fonts/helvetica-neue--light.ttf") format("truetype"), url("html_templates/fonts/helvetica-neue--light.svg#iowanoldst_btroman") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: "futura-mediumregular";
  src: url("html_templates/fonts/futura_medium-webfont.eot");
  src: url("html_templates/fonts/futura_medium-webfont.eot?#iefix") format("embedded-opentype"), url("html_templates/fonts/futura_medium-webfont.woff") format("woff"), url("html_templates/fonts/futura_medium-webfont.ttf") format("truetype"), url("html_templates/fonts/futura_medium-webfont.svg#futura-mediumregular") format("svg");
  font-weight: normal;
  font-style: normal;
  -webkit-font-feature-settings: "kern";
  -moz-font-feature-settings: "kern";
  font-feature-settings: "kern"; }
@font-face {
  font-family: "FuturaCondensedMediumMedium";
  src: url("html_templates/fonts/futuracondensedmedium.eot");
  src: url("html_templates/fonts/futuracondensedmedium.eot?#iefix") format("embedded-opentype"), url("html_templates/fonts/futuracondensedmedium.woff") format("woff"), url("html_templates/fonts/futuracondensedmedium.ttf") format("truetype"), url("html_templates/fonts/futuracondensedmedium.svg#FuturaCondensedMediumMedium") format("svg");
  font-weight: normal;
  font-style: normal;
  -webkit-font-feature-settings: "kern";
  -moz-font-feature-settings: "kern";
  font-feature-settings: "kern"; }
@font-face {
  font-family: "FuturaStd-CondensedBold";
  src: url("html_templates/fonts/FuturaStd-CondensedBold_gdi.eot");
  src: url("html_templates/fonts/FuturaStd-CondensedBold_gdi.eot?#iefix") format("embedded-opentype"), url("html_templates/fonts/FuturaStd-CondensedBold_gdi.woff") format("woff"), url("html_templates/fonts/FuturaStd-CondensedBold_gdi.ttf") format("truetype"), url("html_templates/fonts/FuturaStd-CondensedBold_gdi.svg#FuturaStd-CondensedBold") format("svg");
  font-weight: 700;
  font-style: normal;
  font-stretch: condensed;
  unicode-range: U+0020-25CA; }
@font-face {
  font-family: "FuturaStd-CondensedLight";
  src: url("html_templates/fonts/FuturaStd-CondensedLight_gdi.eot");
  src: url("html_templates/fonts/FuturaStd-CondensedLight_gdi.eot?#iefix") format("embedded-opentype"), url("html_templates/fonts/FuturaStd-CondensedLight_gdi.woff") format("woff"), url("html_templates/fonts/FuturaStd-CondensedLight_gdi.ttf") format("truetype"), url("html_templates/fonts/FuturaStd-CondensedLight_gdi.svg#FuturaStd-CondensedLight") format("svg");
  font-weight: 300;
  font-style: normal;
  font-stretch: condensed;
  unicode-range: U+0020-25CA; }
@font-face {
  font-family: "FuturaStd-ExtraBold";
  src: url("html_templates/fonts/FuturaStd-ExtraBold_gdi.eot");
  src: url("html_templates/fonts/FuturaStd-ExtraBold_gdi.eot?#iefix") format("embedded-opentype"), url("html_templates/fonts/FuturaStd-ExtraBold_gdi.woff") format("woff"), url("html_templates/fonts/FuturaStd-ExtraBold_gdi.ttf") format("truetype"), url("html_templates/fonts/FuturaStd-ExtraBold_gdi.svg#FuturaStd-ExtraBold") format("svg");
  font-weight: 750;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0020-25CA; }
@font-face {
  font-family: "FuturaStd-Light";
  src: url("html_templates/fonts/FuturaStd-Light_gdi.eot");
  src: url("html_templates/fonts/FuturaStd-Light_gdi.eot?#iefix") format("embedded-opentype"), url("html_templates/fonts/FuturaStd-Light_gdi.woff") format("woff"), url("html_templates/fonts/FuturaStd-Light_gdi.ttf") format("truetype"), url("html_templates/fonts/FuturaStd-Light_gdi.svg#FuturaStd-Light") format("svg");
  font-weight: 750;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0020-25CA; }
@font-face {
  font-family: "FuturaStd-Medium";
  src: url("html_templates/fonts/FuturaStd-Medium_gdi.eot");
  src: url("html_templates/fonts/FuturaStd-Medium_gdi.eot?#iefix") format("embedded-opentype"), url("html_templates/fonts/FuturaStd-Medium_gdi.woff") format("woff"), url("html_templates/fonts/FuturaStd-Medium_gdi.ttf") format("truetype"), url("html_templates/fonts/FuturaStd-Medium_gdi.svg#FuturaStd-Medium") format("svg");
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0020-25CA; }
@font-face {
  font-family: "FuturaStd-Bold";
  src: url("html_templates/fonts/FuturaStd-Bold_gdi.eot");
  src: url("html_templates/fonts/FuturaStd-Bold_gdi.eot?#iefix") format("embedded-opentype"), url("html_templates/fonts/FuturaStd-Bold_gdi.woff") format("woff"), url("html_templates/fonts/FuturaStd-Bold_gdi.ttf") format("truetype"), url("html_templates/fonts/FuturaStd-Bold_gdi.svg#FuturaStd-Bold") format("svg");
  font-weight: 700;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0020-25CA; }
@font-face {
  font-family: "FuturaStd-Heavy";
  src: url("html_templates/fonts/FuturaStd-Heavy_gdi.eot");
  src: url("html_templates/fonts/FuturaStd-Heavy_gdi.eot?#iefix") format("embedded-opentype"), url("html_templates/fonts/FuturaStd-Heavy_gdi.woff") format("woff"), url("html_templates/fonts/FuturaStd-Heavy_gdi.ttf") format("truetype"), url("html_templates/fonts/FuturaStd-Heavy_gdi.svg#FuturaStd-Heavy") format("svg");
  font-weight: 650;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0020-25CA; }
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

button {
  border: none; }

* {
  box-sizing: border-box; }

* {
  border: 0 none;
  list-style: outside none none;
  margin: 0;
  outline: medium none;
  padding: 0;
  text-decoration: none; }

.clear {
  clear: both;
  content: ".";
  display: block;
  height: 0;
  visibility: hidden; }

h1, h2, h3, h4, h5 {
  font-family: "FuturaStd-CondensedBold", Arial, "Helvetica Neue", Helvetica, sans-serif;
  text-transform: uppercase; }

h1 {
  font-size: 60px; }

h2 {
  font-size: 42px; }

h3 {
  font-size: 24px; }

h4 {
  font-size: 18px; }

h5 {
  font-size: 14px; }

p {
  font-family: "AvenirNext-Regular", Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 14px; }

button {
  background: #508b92 none repeat scroll 0 0;
  border-bottom: 4px solid #345a5e;
  color: #FFF;
  cursor: pointer;
  display: block;
  font-family: "FuturaStd-Heavy", Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 17px;
  letter-spacing: 1px;
  min-height: 50px;
  padding: 12px 10px 10px;
  text-align: center;
  text-transform: uppercase;
  vertical-align: middle;
  width: 100%; }
  button .arrow {
    background: url(html_templates/images/btn_arrow_right_white.png) no-repeat right center;
    padding-right: 20px; }

a, a:active, a:link, a:visited, a:hover {
  color: #333;
  font-family: "AvenirNext-Medium", Arial, "Helvetica Neue", Helvetica, sans-serif; }

.mobile-wide-hide, .tablet-hide, .laptop-hide, .wrapper-hide, .mobile-show {
  display: inherit; }

.tablet-show, .laptop-show, .wrapper-show, .mobile-wide-show, .mobile-hide {
  display: none; }

@media (min-width: 550px) {
  .mobile-wide-hide {
    display: none; }

  .mobile-wide-show {
    display: inherit; } }
@media (min-width: 700px) {
  .tablet-hide {
    display: none; }

  .tablet-show {
    display: block; } }
@media (min-width: 1000px) {
  .laptop-hide {
    display: none; }

  .laptop-show {
    display: inherit; } }
@media (min-width: 1440px) {
  .wrapper-hide {
    display: none; }

  .wrapper-show {
    display: inherit; } }
*.unselectable {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

#home {
  background: #FFF none repeat scroll 0 0;
  position: relative;
  margin: 0 auto;
  z-index: 1;
  width: calc(100% - 10px);
  max-width: 1440px; }
  #home section.hero {
    position: relative; }
    #home section.hero .slider li img {
      display: block;
      max-height: 100%;
      max-width: 100%;
      width: 100%; }
    #home section.hero .slider li details {
      color: #FFF;
      position: absolute;
      top: 0;
      z-index: 555; }
  #home section.professions {
    text-align: center;
    padding-top: 50px;
    color: #333; }
    #home section.professions h2 {
      font-family: "AvenirNext-Regular", Arial, "Helvetica Neue", Helvetica, sans-serif;
      font-size: 32px; }
    #home section.professions p {
      font-size: 17px; }
    #home section.professions ul {
      margin: 20px auto 60px;
      width: 100%;
      max-width: 525px; }
      #home section.professions ul li {
        display: inline-block;
        width: 32%;
        border-left: 1px solid #eeeeee;
        font-size: 12px;
        text-transform: uppercase; }
        #home section.professions ul li:first-child {
          border: none; }
        #home section.professions ul li a {
          font-family: "FuturaStd-Heavy", Arial, "Helvetica Neue", Helvetica, sans-serif; }
          #home section.professions ul li a img {
            display: block;
            margin: 0 auto 16px; }
          #home section.professions ul li a .arrow {
            background: url(html_templates/images/btn_arrow_right_grey.png) bottom left no-repeat;
            width: 6px;
            height: 12px;
            margin-left: 7px;
            display: inline-block; }
  #home section.articles {
    display: -webkit-box;
    display: -moz-box;
    display: box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-lines: multiple;
    -moz-box-lines: multiple;
    box-lines: multiple;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    color: #333; }
    #home section.articles article {
      width: 100%;
      margin-left: 0;
      text-align: center;
      background: #eeeeee;
      margin-bottom: 10px;
      -webkit-transition: width 0.3s ease;
      -moz-transition: width 0.3s ease;
      transition: width 0.3s ease; }
      @media (min-width: 700px) {
        #home section.articles article {
          width: calc((100% - 18px) / 2);
          margin-left: 9px; }
          #home section.articles article:first-child {
            margin-left: 0;
            margin-right: 9px; } }
      #home section.articles article img {
        width: 100%; }
      #home section.articles article div {
        margin: 0 auto;
        padding: 5% 0;
        width: 90%; }
        @media (min-width: 700px) {
          #home section.articles article div {
            width: 70%; } }
        #home section.articles article div h4 {
          font-family: "AvenirNext-Medium", Arial, "Helvetica Neue", Helvetica, sans-serif;
          font-size: 16px;
          margin-bottom: 12px; }
        #home section.articles article div h3 {
          font-family: "FuturaStd-Heavy", Arial, "Helvetica Neue", Helvetica, sans-serif;
          font-size: 27px;
          letter-spacing: 1px;
          margin-bottom: 17px; }
        #home section.articles article div p {
          font-size: 15px;
          line-height: 18px; }
  #home section.featured {
    margin-top: 60px;
    text-align: center; }
    #home section.featured h2 {
      font-family: "AvenirNext-UltraLight", Arial, "Helvetica Neue", Helvetica, sans-serif;
      font-size: 28px;
      margin-bottom: 26px; }
    #home section.featured > a {
      background: url(html_templates/images/btn_arrow_right_blue.png) right 3px no-repeat;
      color: #508b92;
      float: none;
      font-family: "AvenirNext-UltraLight", Arial, "Helvetica Neue", Helvetica, sans-serif;
      margin-top: -30px;
      font-size: 13px;
      padding-right: 14px;
      text-transform: uppercase; }
      @media (min-width: 550px) {
        #home section.featured > a {
          float: right;
          margin-top: -46px;
          background-position: bottom right; } }
    #home section.featured .slider {
      overflow: hidden;
      width: calc(100% - 50px);
      margin: 25px; }
      #home section.featured .slider .controls a {
        width: 23px;
        height: 57px;
        margin-top: 18%;
        background-size: 10px; }
        @media (min-width: 700px) {
          #home section.featured .slider .controls a {
            margin-top: 8%; } }
        @media (min-width: 550px) {
          #home section.featured .slider .controls a {
            margin-top: 11%;
            background-size: inherit; } }
        #home section.featured .slider .controls a.arrow-left {
          background: url(html_templates/images/btn_featured_slider_arrow_left.png) bottom left no-repeat;
          position: absolute;
          left: 0;
          cursor: pointer; }
        #home section.featured .slider .controls a.arrow-right {
          background: url(html_templates/images/btn_featured_slider_arrow_right.png) bottom right no-repeat;
          position: absolute;
          right: 0;
          cursor: pointer; }
      #home section.featured .slider ul {
        display: -webkit-box;
        display: -moz-box;
        display: box;
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-lines: multiple;
        -moz-box-lines: multiple;
        box-lines: multiple;
        -webkit-flex-wrap: wrap;
        -moz-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
        #home section.featured .slider ul li {
          margin-right: 10px; }
        #home section.featured .slider ul a img {
          width: 100%;
          max-width: 265px; }
        #home section.featured .slider ul a p {
          color: #717171;
          font-size: 14px;
          line-height: 18px;
          text-align: left;
          text-transform: uppercase; }
          #home section.featured .slider ul a p .price {
            font-weight: bold;
            display: block;
            margin-top: 5px; }
  #home section.branding {
    display: -webkit-box;
    display: -moz-box;
    display: box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-lines: multiple;
    -moz-box-lines: multiple;
    box-lines: multiple;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
    #home section.branding article.direct {
      -webkit-transition: all 0.3s ease;
      -moz-transition: all 0.3s ease;
      transition: all 0.3s ease;
      margin: 0 auto;
      position: relative;
      width: 100%;
      max-width: 950px;
      overflow: hidden; }
      @media (min-width: 700px) {
        #home section.branding article.direct {
          width: 66%; } }
      #home section.branding article.direct > img {
        width: 100%; }
      #home section.branding article.direct details {
        width: 100%;
        position: absolute;
        top: 0;
        z-index: 555;
        text-align: center;
        color: #FFF;
        text-shadow: 0 0 3px rgba(0, 0, 0, 0.74);
        padding: 10%; }
        @media (max-width: 700px) {
          #home section.branding article.direct details {
            padding: 6%; } }
        #home section.branding article.direct details > h2 {
          font-size: 63px;
          letter-spacing: 3px; }
          @media (max-width: 1440px) {
            #home section.branding article.direct details > h2 {
              font-size: 4.35vw; } }
          @media (max-width: 700px) {
            #home section.branding article.direct details > h2 {
              font-size: 7.35vw; } }
        #home section.branding article.direct details p {
          font-size: 17px;
          line-height: 35px; }
          @media (max-width: 1440px) {
            #home section.branding article.direct details p {
              font-size: 1.15vw;
              line-height: 2.35vw; } }
          @media (max-width: 700px) {
            #home section.branding article.direct details p {
              font-size: 2.5vw;
              line-height: 3.5vw; } }
        #home section.branding article.direct details h3 {
          font-family: "AvenirNext-Medium", Arial, "Helvetica Neue", Helvetica, sans-serif;
          font-size: 17px;
          letter-spacing: 3px; }
          @media (max-width: 1440px) {
            #home section.branding article.direct details h3 {
              font-size: 1.35vw; } }
          @media (max-width: 700px) {
            #home section.branding article.direct details h3 {
              font-size: 2.35vw;
              line-height: 3.5vw; } }
        #home section.branding article.direct details div img {
          width: 10%;
          margin: 4% auto;
          max-width: 76px; }
        #home section.branding article.direct details div h2 {
          font-family: "FuturaStd-CondensedBold", Arial, "Helvetica Neue", Helvetica, sans-serif;
          font-size: 16px;
          letter-spacing: 1px; }
          @media (max-width: 1440px) {
            #home section.branding article.direct details div h2 {
              font-size: 1.35vw; } }
          @media (max-width: 700px) {
            #home section.branding article.direct details div h2 {
              font-size: 2.35vw; } }
    #home section.branding article.reviews {
      -webkit-transition: all 0.3s ease;
      -moz-transition: all 0.3s ease;
      transition: all 0.3s ease;
      width: 100%;
      background: url(html_templates/images/branding_reviews_bg.gif) top left repeat-x;
      border: 2px solid #F5F5F5;
      color: #333;
      text-align: center; }
      @media (min-width: 700px) {
        #home section.branding article.reviews {
          width: 34%;
          border-left: none; } }
      #home section.branding article.reviews ul li h2 {
        font-size: 42px;
        margin: 5%; }
        @media (max-width: 1000px) {
          #home section.branding article.reviews ul li h2 {
            font-size: 28px; } }
      #home section.branding article.reviews ul li div {
        display: inline-block;
        vertical-align: top;
        text-align: left;
        width: 40%;
        margin-left: 4%; }
        #home section.branding article.reviews ul li div h3 {
          font-size: 22px;
          margin-bottom: 4%; }
        #home section.branding article.reviews ul li div p {
          font-family: "FuturaStd-Light", Arial, "Helvetica Neue", Helvetica, sans-serif;
          font-size: 15px;
          line-height: 18px;
          margin-bottom: 5%; }
      #home section.branding article.reviews ul li img {
        width: 48%;
        max-width: 241px;
        display: inline-block; }
        @media (max-width: 1000px) {
          #home section.branding article.reviews ul li img {
            width: 40%; } }
      #home section.branding article.reviews ul li button {
        margin: 0 auto;
        width: 80%;
        max-width: 172px; }
  #home section.tagline {
    height: 240px;
    width: 100%;
    display: table; }
    #home section.tagline h2 {
      font-family: "FuturaStd-Light", Arial, "Helvetica Neue", Helvetica, sans-serif;
      font-size: 30px;
      letter-spacing: 7px;
      text-align: center;
      display: table-cell;
      vertical-align: middle; }

/*# sourceMappingURL=first_tactical.css.map */
