html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

.headertext {
  display: none; }

header .header-left, header .header-right {
  width: 25%; }
header .header-center {
  width: 50%; }
header .brand {
  width: 60%; }
header .sub-brand {
  width: 20%;
  max-width: 84px; }

section.message {
  background: #46443F; }

nav > ul > li {
  margin-bottom: 0; }
nav li a.active {
  background: #47443D;
  color: #FFFFFF; }
  nav li a.active:after {
    color: #FFFFFF; }

.blog-nav-mobile {
  margin-top: 20px; }
  .blog-nav-mobile .blog-nav-header {
    text-transform: uppercase; }
  .blog-nav-mobile .menu-top-menu-container {
    display: block; }
  .blog-nav-mobile .menu {
    list-style: none;
    padding-left: 10px;
    margin-bottom: 0; }
  .blog-nav-mobile li {
    line-height: 33px; }

.menu-top-menu-container {
  display: none; }

.featured-content {
  width: 95%;
  margin: 10px auto 0 auto;
  position: relative;
  z-index: 0; }
  .featured-content article {
    display: -webkit-box;
    display: -moz-box;
    display: box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-lines: multiple;
    -moz-box-lines: multiple;
    box-lines: multiple;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
    .featured-content article .entry-thumbnail {
      width: 100%;
      -webkit-transition: all 0.3s;
      -moz-transition: all 0.3s;
      transition: all 0.3s; }
    .featured-content article .entry-header {
      -webkit-transition: all 0.3s;
      -moz-transition: all 0.3s;
      transition: all 0.3s;
      width: 95%;
      margin: 0 auto;
      text-align: center; }
      .featured-content article .entry-header a, .featured-content article .entry-header a:hover {
        text-decoration: none;
        color: #47443D; }

.flexslider .slides img {
  height: auto; }
.flexslider .flex-control-nav {
  text-align: center; }

.home-articles {
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-lines: multiple;
  -moz-box-lines: multiple;
  box-lines: multiple;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  width: 95%;
  margin: 0 auto; }
  .home-articles article {
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    width: 95%;
    text-align: center; }
    .home-articles article img {
      width: 100%;
      height: auto; }
  .home-articles .entry-header {
    width: 100%;
    text-align: center;
    position: relative;
    float: left;
    background: rgba(255, 255, 255, 0.8);
    opacity: 1;
    padding: 0 20px 10px;
    bottom: 128px;
    height: 128px;
    margin-bottom: -115px; }
    .home-articles .entry-header h1 {
      font-size: 22px; }
    .home-articles .entry-header a, .home-articles .entry-header a:hover {
      text-decoration: none;
      color: #47443D; }
  .home-articles .textwidget {
    margin-bottom: 10px; }
  .home-articles #nav-below {
    display: none; }

.featured-content-secondary #show-more {
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
  background: black;
  width: 80%;
  margin: 0 auto;
  padding: 10px;
  color: white;
  text-transform: uppercase;
  font-weight: 900;
  cursor: pointer; }
  .featured-content-secondary #show-more:hover {
    color: #000000;
    background: #FFFFFF !important; }

.page-header {
  border-bottom: 0;
  width: 95%;
  margin: 0 auto;
  text-align: center; }

.tag-filter {
  display: none; }

.article-detail {
  width: 95%;
  margin: 0 auto; }
  .article-detail img {
    width: 100% !important;
    height: auto; }
  .article-detail h1 {
    text-align: center; }
  .article-detail .entry-meta {
    margin-bottom: 10px;
    text-align: center; }
  .article-detail .wp-post-image {
    margin-bottom: 10px; }
  .article-detail .wp-caption {
    width: 100% !important;
    margin: 0 auto; }
  .article-detail .wp-caption-text {
    width: 90%;
    text-align: center;
    font-size: 12px;
    color: #9B9B9B;
    font-style: italic;
    margin: 10px auto; }
  .article-detail .entry-content img {
    width: auto !important; }

.simplesocialbutton {
  width: auto !important;
  margin-right: 10px !important; }

div.ssb-button-googleplus {
  margin-right: -20px !important; }

.author {
  display: block;
  width: 100%;
  margin-bottom: 20px;
  float: left; }

.author h2 {
  margin-top: 0; }

.author a {
  font-size: 20px;
  color: #47443D; }

.author .entry_author_image {
  width: 40%;
  float: left;
  padding-right: 15px;
  max-width: 200px; }

.comments-area {
  clear: both; }
  .comments-area label {
    width: 100%; }
  .comments-area button, .comments-area input, .comments-area select, .comments-area textarea {
    width: 100%;
    padding: 10px; }
  .comments-area a.submit, .comments-area input[type="submit"] {
    display: block;
    margin: 0 auto; }

.widget-area {
  display: none; }

.page404 {
  width: 95%;
  margin: 0 auto; }

@media (min-width: 550px) {
  .menu-top-menu-container ul li a {
    padding: 6px 4px; }

  .blog-nav-mobile .blog-nav-header {
    font-size: 16px; }

  .home-articles article {
    width: calc((100% - 20px) / 2);
    margin-right: 10px; }

  .page-header {
    text-align: left; }

  .tag-filter {
    display: block;
    text-align: right;
    margin: -40px auto 0;
    width: 95%;
    color: #9B9B9B;
    padding-bottom: 18px; }
    .tag-filter a {
      padding: 5px 10px;
      text-decoration: none;
      text-transform: uppercase;
      color: #9B9B9B; }
      .tag-filter a:hover {
        text-decoration: none; }
      .tag-filter a.selected {
        background: #6B6B6B;
        color: #FFFFFF; } }
@media (min-width: 700px) {
  header .header-left, header .header-right {
    width: 30%; }
    header .header-left .search, header .header-right .search {
      width: 150px; }
      header .header-left .search input[type=search]:focus, header .header-right .search input[type=search]:focus {
        width: 150px; }
  header .header-center {
    width: 40%; }

  .menu-top-menu-container {
    display: block;
    text-align: center;
    width: 100%; }
    .menu-top-menu-container ul {
      padding-left: 0;
      list-style: none;
      margin-top: 4px; }
      .menu-top-menu-container ul li {
        display: inline-block;
        text-transform: uppercase; }
        .menu-top-menu-container ul li a {
          text-decoration: none;
          color: #FFFFFF;
          padding: 6px 12px; }
          .menu-top-menu-container ul li a:hover {
            background: #9B9B9B;
            color: #FFFFFF; }

  .featured-content-secondary #show-more {
    background: black;
    width: 25%; }

  .featured-content article .entry-thumbnail {
    width: calc(50% - 30px);
    margin-right: 30px; }
  .featured-content article .entry-header {
    width: calc(50% - 15px);
    margin-right: 15px;
    text-align: left; }

  .home-articles article {
    width: calc((100% - 30px) / 3); }
    .home-articles article .entry-header {
      opacity: 0; }

  .flexslider .flex-control-nav {
    text-align: left;
    margin-top: 20px; }

  .article {
    display: -webkit-box;
    display: -moz-box;
    display: box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-lines: multiple;
    -moz-box-lines: multiple;
    box-lines: multiple;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    width: 95%;
    margin: 0 auto; }
    .article .article-detail {
      width: 70%;
      padding-right: 2.5%;
      border-right: 1px solid #D7D7D7; }
      .article .article-detail h1, .article .article-detail .entry-meta {
        text-align: left; }
    .article .widget-area {
      display: block;
      width: 30%;
      padding-left: 2.5%;
      position: relative;
      z-index: 0; }
      .article .widget-area h1 {
        font-size: 24px;
        text-transform: uppercase;
        margin-bottom: 0 !important; }
      .article .widget-area hr {
        margin-top: 5px; }
      .article .widget-area #nav-below {
        width: 100%;
        min-height: 0;
        padding: 0;
        margin: 20px 0;
        float: left; }
        .article .widget-area #nav-below .prev-nav, .article .widget-area #nav-below .next-nav {
          float: left; }
          .article .widget-area #nav-below .prev-nav a, .article .widget-area #nav-below .next-nav a {
            color: #47443D;
            font-size: 14px; }
        .article .widget-area #nav-below .prev-nav {
          width: 40%;
          text-align: left;
          margin-right: 10%; }
        .article .widget-area #nav-below .next-nav {
          width: 40%;
          text-align: right;
          margin-left: 10%; }
      .article .widget-area #text-4, .article .widget-area .cat-tag-filter {
        display: none; }
      .article .widget-area #text-6 {
        margin-top: 20px; }
        .article .widget-area #text-6 img {
          width: 100%;
          height: auto;
          max-width: 300px; }
      .article .widget-area .widget_wp_related_posts ul {
        list-style: none;
        padding-left: 0; }
        .article .widget-area .widget_wp_related_posts ul a {
          margin-left: 10px;
          color: #47443D;
          text-decoration: none; }
        .article .widget-area .widget_wp_related_posts ul.wpinstagram {
          width: 100% !important;
          max-width: 330px !important; }
          .article .widget-area .widget_wp_related_posts ul.wpinstagram li {
            width: 100% !important;
            height: auto !important; }
            .article .widget-area .widget_wp_related_posts ul.wpinstagram li img {
              width: 100% !important;
              height: auto !important; } }
@media (min-width: 1200px) {
  .menu-top-menu-container #menu-top-menu li a {
    padding: 6px 24px; }

  .featured-content {
    width: 1200px; }
    .featured-content .entry-thumbnail {
      width: calc(50% - 10px);
      margin-right: 10px; }

  .home-articles {
    width: 1200px;
    margin: 0 auto; }
    .home-articles article {
      width: calc((100% - 40px) / 4); }

  .page-header {
    width: 1200px;
    margin: 0 auto; }

  .tag-filter, .article, .page404 {
    width: 1200px; } }

/*# sourceMappingURL=noble_life.css.map */
