.bottom-wide {
    width: 100%;
    @include wrap-stuff;
    .one-third {
        @include transition(all 0.5s);
        width: 100%
    }
}

.account-message {
    text-align: center;
    width: 100%;
    padding-bottom: 16px;
    background: #46443f;
    color: white
}

#customer_login, #recover-password, #create_customer, #address_form_new {
    margin: 0 auto
}

@media(min-width: 550px) {
    .bottom-wide .one-third {
        width: calc((100% - 22px) / 2);
        margin: 0 11px;
        &:first-child {
            margin-left: 0
        }
        &:nth-child(2) {
            margin-right: 0
        }
        &:last-child {
            display: none
        }
    }
}

@media(min-width: 700px) {
    .bottom-wide .one-third {
        width: calc((100% - 44px) / 3);
        &:first-child {
            margin-left: 0
        }
        &:nth-child(2) {
            margin-right: 10px
        }
        &:last-child {
            display: block;
            margin-right: 0
        }
    }
}

#customer-wrapper {
    min-height: 400px;
    a.submit {
        margin-top: 8px;
        font-weight: normal !important;
        text-decoration: none !important;
        display: inline-block;
        text-align: center;
        width: 120px
    }
}

.events {
    width: 95%;
    margin: 0 auto;
    .right-side {
        display: none;
        img {
            margin-bottom: 5px
        }
    }
}

@media(min-width: 700px) {
    .events {
        .left-side {
            width: 65%;
            margin-right: 5%;
            float: left
        }
        .right-side {
            width: 30%;
            display: inline-block
        }
    }
}

@media(min-width: 1200px) {
    .events {
        width: 100%
    }
}

.co-op {
    width: 95%;
    margin: 0 auto;
    .advert {
        display: none
    }
    h2 {
        font-size: 21px;
        text-transform: uppercase;
        font-weight: 600 !important
    }
    a {
        text-decoration: underline;
        font-weight: bold
    }
}
@media(min-width: 700px) {
    .co-op {
        .advert {
            width: 100%;
            text-align: right;
            display: block !important;
            margin-bottom: 10px;
            img {
                max-width: 250px
            }
        }
        .left-side {
            width: 65%;
            margin-right: 5%;
            float: left
        }
        .right-side {
            width: 30%;
            display: inline-block
        }
    }
}

@media(min-width: 1200px) {
    .co-op {
        width: 100%
    }
}

.media {
    width: 95%;
    margin: 0 auto;
    ul {
        list-style: none;
        padding-left: 0;
        li {
            @include transition(all 0.5s);
            width: 50%;
            display: inline-block;
            float: left;
            text-align: center;
            margin-bottom: 20px;
            a {
                color: #47443d;
                text-decoration: none
            }
            .media-name {
                font-weight: bold
            }
            .media-size {
                color: #9b9b9b;
                font-size: 11px
            }
        }
        img {
            max-width: 95px
        }
    }
}

@media(min-width: 550px) {
    .media ul li {
        width: 33.33%
    }
}

@media(min-width: 700px) {
    .media ul li {
        width: 25%
    }
}

@media(min-width: 1000px) {
    .media ul li {
        width: 20%
    }
}

.pre-book {
    width: 95%;
    margin: 20px auto;
    img {
        max-width: 598px
    }
}

@media(min-width: 1200px) {
    .pre-book {
        width: 100%
    }
}