h1, h2, h3, h4, h5 {
    font-family: $futura-condensed-bold;
    text-transform: uppercase;
}
h1 {
    font-size: 60px;
}
h2 {
    font-size: 42px;
}
h3 {
    font-size: 24px;
}
h4 {
    font-size: 18px;
}
h5 {
    font-size: 14px;
}
p {
    font-family: $avenir-regular;
    font-size: 14px;
}
input {

}
button {
    background: $light-blue none repeat scroll 0 0;
    border-bottom: 4px solid $dark-blue;
    color: $white;
    cursor: pointer;
    display: block;
    font-family: $futura-heavy;
    font-size: 17px;
    letter-spacing: 1px;
    min-height: 50px;
    padding: 12px 10px 10px;
    text-align: center;
    text-transform: uppercase;
    vertical-align: middle;
    width: 100%;
    .arrow {
        background: url(html_templates/images/btn_arrow_right_white.png) no-repeat right center;
        padding-right: 20px;
    }
    .outline {
        .arrow {}
    }
    .grey {
        .arrow {}
    }
}
textarea {

}
select {

}
table {

}
tbody {

}
td {

}
tr {

}
th {

}
tfoot {

}
a, a:active, a:link, a:visited, a:hover {
    color: $text-dark-grey;
    font-family: $avenir-medium;
}


.mobile-wide-hide, .tablet-hide, .laptop-hide, .wrapper-hide, .mobile-show {
    display: inherit
}

.tablet-show, .laptop-show, .wrapper-show, .mobile-wide-show, .mobile-hide {
    display: none
}

@media(min-width: $mobile-wide) {
    .mobile-wide-hide {
        display: none
    }
    .mobile-wide-show {
        display: inherit
    }
}

@media(min-width: $tablet) {
    .tablet-hide {
        display: none
    }
    .tablet-show {
        display: block
    }
}

@media(min-width: $laptop) {
    .laptop-hide {
        display: none
    }
    .laptop-show {
        display: inherit;
    }
}

@media(min-width: $wrapper) {
    .wrapper-hide {
        display: none
    }
    .wrapper-show {
        display: inherit
    }
}

*.unselectable {
    @include user-select(none);
}