#home {
    background: #fff none repeat scroll 0 0;
    position: relative;
    width: calc(100% - 10px);
    margin: 0 auto;
    z-index: 1;
    .hero {
        position: relative;
        .slider {
            li {
                img {
                    display: block;
                    max-height: 100%;
                    max-width: 100%;
                    width: 100%;
                }
                details {
                    color: $text-white;
                    position: absolute;
                    top: 0;
                    z-index: 555;
                    h3 {

                    }
                    h2 {
                    }
                    p {

                    }
                    button {

                    }
                }
            }
        }
    }
    .professions {
        text-align: center;
        padding-top: 50px;
        h2 {
           font-family: 'AvenirNext-Regular', Arial, "Helvetica Neue", Helvetica, sans-serif;
            font-size: 32px;
        }
        ul {
            @include

            li
        }
    }
    .articles {

    }
    .featured {

    }
    .branding {

    }
    .tagline {

    }
}

@media(min-width: $wrapper) {

}
