// Our variables
$dk-brown: #46443F;
$lt-grey: #CFC8BA;
$noble-gold: #C6AA76;
$orange: #F5A623;

$text-white: rgb(254,254,254);
$text-black: #47443D;
$text-grey: #9B9B9B;

$light-grey: #FEFEFE;
$medium-grey: #D7D7D7;
$grey: #6B6B6B;
$dark-grey: #333333;

$error-red: #970400;
$white: #FFFFFF;
$black: #000000;
